@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "open sans";
  margin: 0;
  padding: 0;
}

/***** HEADER ****/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #6610f2;
}
header .bio {
  display: flex;
}
.bio img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
header span {
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
  align-self: center;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  color: #ffff;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}
nav ul li:hover {
  color: #fd7e14;
  cursor: pointer;
}

/*****PROFILE *****/
section:first-child {
  /*clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%);*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: rgb(226, 232, 240);
  padding: 20px;
}
.profile img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 10px;
}
.about-skills {
    width: 30%;
    
}
.about small {
    opacity: 0.9;
}
.skills {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
.skills span {
    font-size: 0.9rem;
    opacity: 0.6;
    margin-top: 20px;
}
.skills span:hover {
    opacity: 0.8;
}
